.modal_background {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
}

.modal_input {
  width: 30rem;
  height: fit-content;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 5px;
}

.top_header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}

.top_header .cross {
  font-size: 2.5rem;
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 2rem;
}

.modal_input .input {
  flex-grow: 1;
  padding: 0.5rem;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

.modal-button button {
  width: 90px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 1rem;
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button .submit {
  background-color: #577de6;
  color: white;
  border: none;
}

@media only screen and (max-width: 500px) {
  .modal_input {
    width: 90vw;
  }

  .form-input {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .form-input .input {
    width: 90%;
  }
}
