.card {
  width: 19rem;
  border: 1px solid #000000;
  height: fit-content;
}

.CardImageContainer {
  background-color: #8a8585;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11rem;
}

.CardImageContainer img {
  height: 100%;
}

.card .user-info {
  color: rgb(107, 106, 106);
}

@media only screen and (max-width: 330px) {
  .card {
    width: 14rem;
  }
}
