.card {
  width: 18rem;
  border: 1px solid #e8e8e8;
  height: fit-content;
}

.CardImageContainer {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11rem;
}

.CardImageContainer img {
  height: 100%;
}

.card .user-info {
  color: grey;
}

@media only screen and (max-width: 330px) {
  .card {
    width: 14rem;
  }
}
