body {
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.grey {
  color: rgb(161, 159, 159);
}

.red {
  color: red;
}

.fnt-1-2 {
  font-size: 1.2rem;
}

p {
  margin: 0;
}

.ant-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

.pad-1 {
  padding: 1rem;
}

.fnt-18 {
  font-size: 18px;
}

.row-reverse {
  flex-direction: row-reverse;
}

.jst-end {
  justify-content: flex-end;
}
